.banner {
  background-image: url("/img/banner-bg.svg");
  height: 564px;
  background-position: center;
  background-repeat: no-repeat;
  &__wrapper {
    position: relative;
  }
  &__for-whom {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    h1 {
      max-width: 420px;
      margin-top: 70px;
      margin-bottom: 20px;
      font-family: "Shantell Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 38px;
      line-height: 100%;
      text-align: center;
      color: #ffffff;
    }
    p {
      max-width: 450px;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      color: #fbfbfb;
    }
    button {
      font-family: "Heebo", sans-serif;
      padding: 10px 36px;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 32px;
      cursor: pointer;
      color: #fff;
      border: none;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    &-buy {
      border-radius: 15px;
      background-color: #852e3b;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: rgba(133, 46, 59, 0.8);
      }
    }
    &-materials {
      background-color: transparent;
      outline: 2px solid #ffffff;
      border-radius: 15px;
      outline-offset: -2px;
    }
  }
}
