.for-whom {
  &__wrapper {
    h2 {
      font-family: "Heebo", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 130%;
      text-align: center;
      color: #4f1906;
      margin-bottom: 50px;
    }
  }
}
