.for-whom {
  &__wrapper {
    h2 {
      font-family: "Heebo", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 130%;
      text-align: center;
      color: #4f1906;
      margin-bottom: 50px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 80px;
  }
  &__flower {
    position: absolute;
    left: -230px;
    bottom: -30px;
  }
  &__card {
    background-image: url("/img/card-whom.svg");
    background-repeat: no-repeat;
    width: 560px;
    height: 180px;
    margin-bottom: 25px;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: translateX(-3%);
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-wrapper {
      padding: 20px 30px;
      h3 {
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 38px;
        color: #ffffff;
        margin-bottom: 12px;
      }
      p {
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #ffffff;
      }
    }
  }
}
